* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-transform: capitalize;
  background-image: url(./image/back.png);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
body h1 {
  color: #002e5f;
}

#header {
  width: 100%;
  background-color: blue;
  top: 0%;
  position: sticky;
  padding: 1em 0;
  z-index: 10;
}

#navbar {
  width: 50%;
}

#navbar ul {
  font-weight: bolder;
  font-size: large;
}

#navbar li {
  display: inline-block;
  padding: 0.3em 1em;
}

#navbar li a {
  text-decoration: none;
  color: white;
}

#banner {
  width: 100%;
  background-image: url("./image/img1.jpg");
  background-size: cover;
  height: 800px;
}

.banner-text {
  color: white;
  font-size: xx-large;
  padding-top: 300px;
  text-align: center;
}
.banner-text h1 {
  color: #fff;
}

.crown {
  position: relative;
}
.crown::before,
.crown::after {
  content: "";
  position: absolute;
  width: 0.7em;
  height: 0.7em;
}
.crown::before {
  border-top: 4px solid;
  border-left: 4px solid;
  left: -0.4em;
  top: -0.2em;
}
.crown::after {
  border-bottom: 4px solid;
  border-right: 4px solid;
  bottom: -0.2em;
  right: -0.4em;
}

#about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background: white;
  padding: 2em 0;
  gap: 2em;
  font-size: 1.2em;
}

.about-text {
  width: 70%;
}
.about-text p {
  font-size: large;
  padding: 1rem 0;
  line-height: 2em;
}
.span {
  font-weight: bold;
}

#about-us button {
  border: 3px solid;
  border-radius: 1em;
  padding: 0.5em 1em;
  font-size: 1em;
  background-color: white;
}

#services {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2;
  padding: 2em 0;
  gap: 2em;
  font-size: 1.2em;
}

.services-container {
  width: 70%;
}
.services-container ul {
  display: flex;
  margin-top: 2em;
  list-style-type: none;
  justify-content: space-between;
  padding: 0%;
}
.services-container li {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2em 1em;
  background: #fff;
  border-radius: 16px;
  gap: 1em;
}
.services-container li i {
  transform: scale(1.6);
  height: 1.2em;
  color: #52ab98;
}

#counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  width: 70%;
  margin: 0 auto;
  padding: 3em 0;
  color: #fff;
}
#counter div {
  display: flex;
  flex-direction: column;
  gap: 0.8em;
}

#project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #f2f2f2;
  padding: 2em 0;
  gap: 2em;
  font-size: 1.2em;
}

.project-container {
  width: 70%;
}
.project-container ul {
  display: flex;
  margin-top: 2em;
  list-style-type: none;
  justify-content: space-between;
  padding: 0%;
}
.project-container li {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 2em 1em;
  background: #fff;
  border-radius: 16px;
  gap: 1em;
}
.project-container li i {
  transform: scale(1.6);
  height: 1.2em;
  color: #52ab98;
}

#comunication div {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  padding: 3em 0;
  margin: 0 auto;
  color: #fff;
  font-size: 1.2em;
  gap: 1em;
  width: 70%;
}

#comunication button {
  border-radius: 16px;
  padding: 0.5em 0.8em;
}

#testimonial {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #f2f2f2;
  gap: 1em;
  padding: 2em 0;
  font-size: 1.2em;
}

.testimonial-containers {
  width: 70%;
}

.testimonial-containers ul {
  display: flex;
  list-style-type: none;
  margin-top: 2em;
  justify-content: space-between;
  font-size: 0.8em;
}

.testimonial-containers ul li {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 1em;
  background: #fff;
  gap: 0.5em;
  overflow: hidden;
  padding-bottom: 1em;
}

.testimonial-containers ul li h6 {
  font-weight: 100;
}

#clients {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #fff;
  gap: 2em;
  padding: 2em 0;
  font-size: 1.2em;
}

.clients-containers {
  width: 70%;
}

.clients-containers ul {
  display: flex;
  list-style-type: none;
  margin: 2em 0;
  gap: 1em;
}

#team {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #222222;
  gap: 4em;
  padding: 3em 0;
  font-size: 1.2em;
}

#team h1 {
  color: #00bfff;
}

.team-containers ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1em;
}

.team-containers ul li {
  height: 26rem;
  width: 17rem;
  background-color: #fff;
  text-align: center;
}

.team-containers ul li img {
  height: 15rem;
  width: 15rem;
  margin: 1em 0;
  border-radius: 50%;
  border: 0.5rem solid #fff;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.3);
  object-fit: cover;
}

.team-containers ul li p {
  color: #00bfff;
  padding: 0.7em 0 1.4em 0;
}

.team-containers ul li a {
  color: #333;
  background-color: #fff;
  text-decoration: none;
  font-size: 1.2em;
  padding: 0 0.2em;
}

#contect {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #fff;
  gap: 2em;
  padding: 3em 0;
  font-size: 1.2em;
}

.contect-container {
  display: flex;
  width: 80%;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 25px 0px #666;
}

.form {
  display: flex;
  flex-direction: column;
  width: 80%;
  gap: 1.5em;
  padding: 0em 2em;
}

.form input {
  border: 1px solid #bcbcbc;
  border-radius: 50px;
  font-size: large;
  padding: 0.5em 0.5em;
}

.form textarea {
  font-size: large;
  height: 9em;
  padding: 0.5em 0.5em;
  border: 1px solid #bcbcbc;
  border-radius: 10px;
}

#faq {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 2em;
  margin: 0 auto;
  padding: 3em 0;
  background-image: url(./image/faq.png);
  color: #00bfff;
  font-size: 1.2em;
}
#faq h1 {
  color: #00bfff;
}

.faq-accordion {
  display: flex;
  flex-direction: column;
  width: 50%;
  text-align: left;
  gap: 0.5em;
}

.faq-accordion-item {
  background-color: #00bfff;
  color: black;
  padding: .5em 0;
}

.faq-accordion-item span {
  display: inline-block;
  text-align: center;
  width: 3rem;
  height: 100%;
  background: #333;
  color: #fff;
  clip-path: polygon(0% 0%, 75% 0%, 100% 50%, 75% 100%, 0% 100%);
}
